.tbody-scrollable{
  overflow-y:scroll;
  display:block;
}


.row-scrollable{
  display:table;
  table-layout:fixed;
  width:100%;
}

.footer-add-row-dropdown-header{
  text-align:center;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.footer-add-row-dropdown{
  --width:20pc;
}

.table-footer{
      border-top: 1px solid #f4f4f4;
      min-height: 70px;
}

.footer-left{
  padding-top: 1pc;
  padding-left: 1pc;
}

.footer-right{
  padding-top: 1pc;
  padding-right: 1pc;
}

.table-container{

}

.condensed-hidden{
  display:none;
}

.submit-button{
  padding-right:1pc;
  padding-bottom:1pc;
}
.column-manager{
  padding-right:1pc;
}

.column-settings{
    display:none;
}

th:hover .column-settings{
    display:block;
}

.header-settings-options{
    display:block;
}

.dialogRow{
    top: 15pc;
    position: absolute;

}

.header-settings-options-dialog{
    border: 1px solid grey;
background-color: white;
z-index: 100;
    }

.hidden{
    display:none;
}

.caption{
  font-size:150%;
  text-align: center;
  font-weight: bold;
  width:100pc;
}
