
.caption{
    width:31pc;
    text-align: center;
    font-weight: bold;
}

.btn-primary{
    background-color: #3c8dbc;
    border-color: #367fa9;
}

.btn-danger{
    background-color: #dd4b39;
    border-color: #d73925;
}

.btn-success{
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-default{
    background-color: #fff;
    border-color: #ccc;
    color: #333 !important;
}
